#CMake files
Makefile
*.cmake
*.check_cache
*.make
**/CMakeFiles/

#LaTex files
*.aux
*.synctex.gz
*.dvi

#Data files
*.dat
*.txt
*.log

# Image files
*.png

#Compiled source
*.o
*.a
*.so
*.py.err
*.spl
*.pyc
*.out
*.ipynb_checkpoints*
*__init__.py
run
data
Makefile

#OS files
*.DS_Store

#Old files
*.old

#Tmp files
*.tmp*

#Doc files
doc/Doxyfile
doc/html/annotated.html
doc/html/bayesian_posterior_8hpp_source.html
doc/html/class_deterministic-members.html
doc/html/class_deterministic.html
doc/html/class_ekf-members.html
doc/html/class_ekf.html
doc/html/class_enkf-members.html
doc/html/class_enkf.html
doc/html/class_enkf_m_p_i-members.html
doc/html/class_enkf_m_p_i.html
doc/html/class_enkf_s_m_m_p_i-members.html
doc/html/class_enkf_s_m_m_p_i.html
doc/html/class_gaussian-members.html
doc/html/class_gaussian.html
doc/html/class_gaussian1d-members.html
doc/html/class_gaussian1d.html
doc/html/class_p_f-members.html
doc/html/class_p_f.html
doc/html/class_samples-members.html
doc/html/class_samples.html
doc/html/class_samples_m_p_i-members.html
doc/html/class_samples_m_p_i.html
doc/html/class_uniform1d-members.html
doc/html/class_uniform1d.html
doc/html/class_weighted_samples-members.html
doc/html/class_weighted_samples.html
doc/html/classbayesian_posterior-members.html
doc/html/classbayesian_posterior.html
doc/html/classes.html
doc/html/classfilter-members.html
doc/html/classfilter.html
doc/html/classmcmc-members.html
doc/html/classmcmc.html
doc/html/classnelder_mead-members.html
doc/html/classnelder_mead.html
doc/html/classpdf-members.html
doc/html/classpdf.html
doc/html/classpdf1d-members.html
doc/html/classpdf1d.html
doc/html/classstate__estimator-members.html
doc/html/classstate__estimator.html
doc/html/classstatespace-members.html
doc/html/classstatespace.html
doc/html/config_8hpp_source.html
doc/html/dir_08351310ddebaca638dbb30498c8cafd.html
doc/html/doxygen.css
doc/html/dynsections.js
doc/html/files.html
doc/html/filters_8hpp_source.html
doc/html/functions.html
doc/html/functions_func.html
doc/html/hierarchy.html
doc/html/index.html
doc/html/jquery.js
doc/html/mcmc_8hpp_source.html
doc/html/optimization_8hpp_source.html
doc/html/pdf_8hpp_source.html
doc/html/samples_8hpp_source.html
doc/html/statespace_8hpp_source.html
doc/html/statslib_8hpp_source.html
doc/html/structgen_model_param-members.html
doc/html/structgen_model_param.html
doc/html/structproposed_models-members.html
doc/html/structproposed_models.html
doc/html/tabs.css
doc/html/search/all_0.html
doc/html/search/all_0.js
doc/html/search/all_1.html
doc/html/search/all_1.js
doc/html/search/all_2.html
doc/html/search/all_2.js
doc/html/search/all_3.html
doc/html/search/all_3.js
doc/html/search/all_4.html
doc/html/search/all_4.js
doc/html/search/all_5.html
doc/html/search/all_5.js
doc/html/search/all_6.html
doc/html/search/all_6.js
doc/html/search/all_7.html
doc/html/search/all_7.js
doc/html/search/all_8.html
doc/html/search/all_8.js
doc/html/search/all_9.html
doc/html/search/all_9.js
doc/html/search/all_a.html
doc/html/search/all_a.js
doc/html/search/all_b.html
doc/html/search/all_b.js
doc/html/search/classes_0.html
doc/html/search/classes_0.js
doc/html/search/classes_1.html
doc/html/search/classes_1.js
doc/html/search/classes_2.html
doc/html/search/classes_2.js
doc/html/search/classes_3.html
doc/html/search/classes_3.js
doc/html/search/classes_4.html
doc/html/search/classes_4.js
doc/html/search/classes_5.html
doc/html/search/classes_5.js
doc/html/search/classes_6.html
doc/html/search/classes_6.js
doc/html/search/classes_7.html
doc/html/search/classes_7.js
doc/html/search/classes_8.html
doc/html/search/classes_8.js
doc/html/search/classes_9.html
doc/html/search/classes_9.js
doc/html/search/classes_a.html
doc/html/search/classes_a.js
doc/html/search/functions_0.html
doc/html/search/functions_0.js
doc/html/search/functions_1.html
doc/html/search/functions_1.js
doc/html/search/functions_2.html
doc/html/search/functions_2.js
doc/html/search/functions_3.html
doc/html/search/functions_3.js
doc/html/search/nomatches.html
doc/html/search/search.css
doc/html/search/search.js
doc/html/search/searchdata.js
doc/latex/annotated.tex
doc/latex/class_deterministic.eps
doc/latex/class_deterministic.tex
doc/latex/class_ekf.eps
doc/latex/class_ekf.tex
doc/latex/class_enkf.eps
doc/latex/class_enkf.tex
doc/latex/class_enkf_m_p_i.eps
doc/latex/class_enkf_m_p_i.tex
doc/latex/class_enkf_s_m_m_p_i.eps
doc/latex/class_enkf_s_m_m_p_i.tex
doc/latex/class_gaussian.eps
doc/latex/class_gaussian.tex
doc/latex/class_gaussian1d.eps
doc/latex/class_gaussian1d.tex
doc/latex/class_p_f.eps
doc/latex/class_p_f.tex
doc/latex/class_samples.eps
doc/latex/class_samples.tex
doc/latex/class_samples_m_p_i.eps
doc/latex/class_samples_m_p_i.tex
doc/latex/class_uniform1d.eps
doc/latex/class_uniform1d.tex
doc/latex/class_weighted_samples.eps
doc/latex/class_weighted_samples.tex
doc/latex/classbayesian_posterior.tex
doc/latex/classfilter.eps
doc/latex/classfilter.tex
doc/latex/classmcmc.tex
doc/latex/classnelder_mead.tex
doc/latex/classpdf.eps
doc/latex/classpdf.tex
doc/latex/classpdf1d.eps
doc/latex/classpdf1d.tex
doc/latex/classstate__estimator.eps
doc/latex/classstate__estimator.tex
doc/latex/classstatespace.tex
doc/latex/dir_08351310ddebaca638dbb30498c8cafd.tex
doc/latex/doxygen.sty
doc/latex/hierarchy.tex
doc/latex/Makefile
doc/latex/refman.tex
doc/latex/structgen_model_param.tex
doc/latex/structproposed_models.tex
